* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.topo {
    margin: 0px 0;
    background-color: #2f86d6;
    padding: 35px;
}

.conteudo-topo {
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.escrita-logo h1{
    font-size: 36px;
    color: #000000;
}

.escrita-logo p {
    font-size: 16px;
    color: #fff;
}

.logo img{
    width: 80px;
    height: 80px;
}

.link-topo {
    background-color: #2f86d6;
    color: #fff;
}

.link-topo a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; 
    margin: 0 5px;
}

.tabela {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    background-color: #fff;
    max-width: 1024px;
    padding: 100px 0;
    border-collapse: collapse;
    margin: 100px 0px;
}

table th {
    background-color: #f1f3f7;
}

table .empty-cell1 {
    background-color: #fff;
}

.feature-col {
    background-color: #f1f3f7;
    padding: 15px 20px 15px 20px;
    text-align: justify;
    border: 3px solid #fff;
}

table td {
    border: 3px solid #f1f3f7;
    padding: 15px;
    text-align: center;
}

.empty-cell span {
   width: 12px;
   height: 12px;
   background-color: #2f86d6;
   border-radius: 50%;
   display: inline-block; /*so funciona se tiver o display inline block*/
}

.rodape {
    background-color: #2f86d6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0px;
}

.conteudo-rodape { 
    width: 100%;
    text-align: center;
    max-width: 1024px;  
}

.logo {
    display: flex;
    justify-content: center; /* Centraliza a logo */
    align-items: center; /* Alinha verticalmente os itens da logo */
    gap: 10px; /* Espaço entre a imagem e o texto */
}